
.fullscreen {
  position: relative;
  height: 100%;
  padding-left: var(--panel-width);
}

.SidePanel {
  position: absolute;
  background-color: color(var(--vta-light-gray));
  z-index: 150;
  left: 0;
  border: 0;
  width: var(--panel-width);
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 44px;
}

.SidePanel.top {
  margin-top: 70px;
  top: 0;
  min-height: 300px;
  height: 100%;
  padding-bottom: 120px;
}

.SidePanel.bottom {
  bottom: 0;
}

@media (--narrow-window) {
  .fullscreen {
    padding-left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .SidePanel {
    left: 0;
    width: 100%;
    position: relative;
  }

  .SidePanel.top {
    margin-top: 0;
    overflow: visible;
  }

  .SidePanel .scrollable {
    padding-top: 0;
    overflow: visible;
  }

  .SidePanel .scrollable .Options {
    padding-bottom: 60px;
  }

  .SidePanel.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 36px;
  }

  .SidePanel.bottom .footer {
    height: 36px;
  }

  .SidePanel.bottom .footer .btn {
    font-size: 12px;
    padding: 2px 6px;
    margin: 6px 8px 14px 30px;
  }

  .SidePanel .footer .more-options {
    display: none !important;
  }

  .SidePanel.bottom .footer .show-map {
    display: inline-block;
    line-height: 36px;
    height: 36px;
  }

  .MapView {
    height: 280px;
    /*width: 100%;*/
    margin-top: 70px;
  }
}

.scrollable {
  overflow-y: scroll;
  height: 100%;
}

.scrollable::-webkit-scrollbar {
  width: 0 !important;
}

#locations-form {
  padding: 8px;
}

.SidePanel .title {
  width: 100%;
  color: var(--vta-black);
  font-size: 15px;
}

.SidePanel .title .fa {
  vertical-align: top;
/*	color: var(--vta-light-gray);*/
  font-size: 20px;
  padding-right: 5px;
}

.SidePanel .title .fa:hover,
.SidePanel .title .fa:active,
.SidePanel .title .fa:focus,
.SidePanel .footer .more-options:hover,
.SidePanel .footer .more-options:active,
.SidePanel .footer .more-options:focus {
  color: color(var(--light-blue) shade(20%));
  text-decoration: none;
}

.SidePanel .footer {
  position: absolute;
  display: block;
  bottom: 0;
  height: 44px;
  background-color: var(--vta-black);
  box-shadow: 0 -2px 2px -1px var(--darkest);
  width: 100%;
  line-height: 32px;
}

.SidePanel .footer .btn {
  margin: 6px 8px;
}

.SidePanel .footer .btn.send-feedback{
  background-color: var(--vta-red);
  color: #fff;
  margin-left: 0;
  margin-right: 0;
}

.SidePanel .footer .more-options {
  color: var(--light-blue);
  font-size: 18px;
  height: 44px;
  display: inline-block;
  line-height: 44px;
  text-align: right;
  padding: 0 12px 0 0;
}

.SidePanel .footer .show-map {
  color: var(--light-blue);
  font-size: 18px;
  height: 44px;
  display: none;
  line-height: 44px;
  text-align: left;
  padding: 0 12px 0 16px;
}

.MapView .hide-map {
  position: absolute;
  right: 10px;
  bottom: 60px;
  color: black;
  z-index: 1000;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 5px 5px 7px;
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
  font-size: 14px;
  display: none;
}