lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.zip
*.node
*.node.d
*.o
*.o.d
*.gypi
*.mk
*.obj
*.ai
.idea
*.iml
lockdown.json

.DS_Store
.env

# node_modules
**/build/Makefile
**/bson/build
**/contextify/build
**/kerberos/build
**/weak/build
/node_modules/*

coverage
deployment

assets/robots.txt
sftp-config.json
