
.FilterView > .mode-filters, .FilterView > .bike-filters {
  margin-top: 5px;
  display: inline-block;
}

.FilterView > .mode-filters > button,
.FilterView > .bike-filters > button {
  box-shadow: none;
  background-color: var(--vta-dark-blue);
  color: var(--vta-light-gray);
  padding: 0;
  width: 44px;
  height: 44px;
  font-size: 28px;
  transition-property: background;
  transition-duration: 0.1s;
  text-shadow: none;
  position: relative;
}

.FilterView > .bike-filters > button { 
  font-size: 15px;
  height: 1.85em;
  line-height: 1.85em;
  padding: 0 0 0 .5rem;
  text-align: left;
}
.FilterView > .bike-filters > button[title="Fast"] { 
  width:6rem;
}
.FilterView > .bike-filters > button[title="Friendly"] { 
  width:10rem;
}
.FilterView > .bike-filters > button[title="Flat"] { 
  width:6rem;
}


.mode-filters i, .bike-filters i {
  font-size: 16px;
  position: absolute;
  top: 23px;
  color: var(--vta-light-gray);
  text-shadow: 0px 1px 3px rgba(75, 106, 32, 0.4);
  visibility: hidden;
}
.mode-filters i{
left: 27px;
}

.bike-filters i {
  top: 5px;
  right: 0;
  margin-right: 0.3rem;
}


.mode-filters > button.active, .bike-filters > button.active {
  background-color: var(--vta-dark-blue);
  color: var(--vta-light-gray);

  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.mode-filters > button:hover, .bike-filters > button:hover,
.mode-filters > button:focus, .bike-filters > button:focus {
  background-color: var(--vta-middle-blue);
  color: var(--vta-dark-gray);

  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.mode-filters > button.active > i,
.bike-filters > button.active > i {
  visibility: visible;
}

.FilterView > .bike-filters .title {
  display: inline-block;
  font-size: 13px;
  background-color: var(--vta-dark-blue);
  color: var(--vta-light-gray);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  padding: 5px 0 0 4px;
  width: 42px;
  height: 28px;
  float: left;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.SidePanel .bike-filters .title .fa-bicycle{
  top:0;
  left: 7px;
  visibility: visible;
  line-height: 1.4em;
}

.submit {
  margin-top: 5px;
  margin-left: 4px;
  width: 84px;
  height: 44px;
  font-size: 20px;
  border: none;
}

.btn-default.icon-parknride {
    background-image: url(/images/application/parknride_alpha.png);
    background-size: 33px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 7px;
}

.btn-default.icon-parknride:hover {
    background-image: url(/images/application/parknride_alpha_dark.png);
    background-size: 33px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 7px;
}

.FilterView > .time-filters {
  padding-bottom: .8rem;
      margin: .5rem 0 .5rem 0;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

@media (--narrow-window) {
  .FilterView > .time-filters > select {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

@-moz-document url-prefix() {
  .FilterView > .time-filters > select {
    width: 65px;
  }
}

.FilterView > .time-filters > label {
  color: var(--light-blue);
  font-weight: var(--font-weight);
  margin-bottom: 3px;
}

.FilterView > .time-filters > .arrive-depart-btns {
  background-color: var(--vta-dark-blue);
  border-radius: 3px;
  padding: .4rem;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 7.5rem;
}

.time-filters select{
  background-color: var(--vta-dark-blue);
  color: var(--vta-light-gray);
  padding: 0;
  margin: 0 0.3rem;
  width: 5rem;
}
.time-filters .arrive-depart-btns::after
{
  cursor: default;
  display:inline-block;
  content:"\25B2\000D\25BC";
  background-color: var(--vta-dark-blue);
  color: var(--vta-light-gray);
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.5em;
  line-height: 2em;
  width: 1rem;
}

.arrive-depart-btns > label {
  width: 48px;
  height: 30px;
  font-size: 13px;
  background-color: var(--vta-dark-blue);
  color: white;
  padding: 6px 0 0 0;
  border-radius: 0;
}

.arrive-depart-btns > label.active {
  background-color: var(--vta-light-blue);
  color: var(--vta-dark-blue);

  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.arrive-depart-btns > label:hover,
.arrive-depart-btns > label:focus {
  background-color: var(--vta-light-blue);
  color: var(--vta-dark-blue);

  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.FilterView > .time-filters > .input-group { 
  width: 17rem;
}
.FilterView > .time-filters > .filter-group ~ .filter-group {
  margin-left:.4rem
}

.FilterView > .time-filters > .input-group .form-control {
  height: 4rem;
  padding: 6px 4px;
  font-size: 1em;
  background-color: #fff;
  text-align: center;

}
.FilterView > .time-filters > .input-group .form-control[type="text"] {
    width: 7.3rem;
}
.FilterView > .time-filters > .filter-group{
  height: 4rem;
}

.FilterView > .time-filters > .input-group .input-group-addon {
  display: flex;
  width: 4rem;
  font-size: 1.5em;
  align-items:center;
  justify-content:center;
}
.time-filters .input-group-addon i.fa{
    display: block;
    font-size: 1em;
    line-height: 1em;
}

#datepicker {
    display: inline-block;
    margin: 0 5px;
}

#datepicker .ui-datepicker {
    position: absolute;
    z-index: 1000;
    left: 10px;
    background: none;
    background-color: #00587B;
    color: #fff;
}

#datepicker .ui-datepicker .ui-datepicker-header {
    background: none;
    background-color: #CFE5EB;
    color: #666666;
}

#datepicker .ui-state-default,
#datepicker .ui-widget-content .ui-state-default,
#datepicker .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: none;
    background-color: #fff;
    border-radius: 3px;
}


.time_picker_wrapper, .time_picker_wrapper .times_list_wrapper {display:inline-block; -moz-box-sizing: border-box;-webkit-box-sizing:border-box;  box-sizing: border-box;}

.time-filters .input-group .time_picker_wrapper {
  position: relative;
  height: 0;
  width: 7rem;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}



.time-filters .input-group .time_picker_wrapper input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: default;
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
  text-overflow: '';
  display: inline-block;
  width: 5rem;
  height:1.2em;
  border:none;
}

.time-filters .input-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.time-filters .input-group option {
  font-size: 1em;
  text-align: center;
  display: block;
  width: 5rem;
}


.time_picker_wrapper .times_list_wrapper {
  display:none;
  overflow:hidden;
  background-color:#fff;
  top:1.5rem;
}

.time_picker_wrapper.active .times_list_wrapper {
  display: block;
  position: absolute;
  text-align: center;
  height: 10rem;
  width: 100%;
  left: 0.2rem;
  overflow: scroll;
  overflow-x: hidden;
  top: 4rem;
  z-index:4;
  border: .2rem solid var(--vta-light-gray);
}

.time_picker_wrapper .times_list_wrapper span{
  display:block;
  cursor: default;
}
.time_picker_wrapper .times_list_wrapper span:hover{
  background-color: var(--vta-dark-blue);
  color: var(--vta-light-gray);
}
.time_picker_wrapper .times_list_wrapper span.selected{
  background-color: var(--vta-dark-blue);
  color: var(--vta-light-gray);
}